body {
  background-color: #C4CAD5;
  color: #CDDAF5;
}

a:visited {
  text-decoration: none;
}


/*  OVERLAY  */

#header {
  position: fixed;
  background-color: #294680;

  top: 0vh;
  left: 0vw;
  width: 100vw;
  height: 10vh;
  z-index: 5;
  text-align: center;
}

#nav {
  position: fixed;
  top: 10vh;
  left: 0vw;
  width: 14vw;
  height: 90vh;
  z-index: 5;
}

.navButt {
	border: 2px solid #52658f;
	width: 10vw;
	height: 5vh;
	margin: 2vw;
  text-decoration: none;
	text-align: center;
  font-size: 1em;
}


/*  CONTENT  */

#content {
  color: #0C1D3F;
	position: absolute;
	margin-top: 20vh;
  margin-left: 20vw;
  margin-bottom: 20vh;
	width: 60vw;
}

.codeButt {
  background-color: #4CAF50; /* Green */
  color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  width: 100%;
  font-size: 1em;
}

.codeDescribe {
  padding: 25px 32px;
}
